// ==|== primary styles =======================================================
// Author: Curtis Dulmage
// ============================================================================

// Foundation
// ----------------------------------------------------------------------------
html,
input,
button {
	font-family: 'adelle', Georgia,Times, 'Times New Roman', serif;
}
::selection {
	color: $hsl_L100;
	background-color: $hsl_blue;
}
// + autoprefixer does not recognize placeholder + \\
::-webkit-input-placeholder {
	color: $hsl_L60;
}
::-moz-placeholder {
	color: $hsl_L60;
	opacity: 1;
}
:-ms-input-placeholder {
	color: $hsl_L60;
}

// Base Styles
// ----------------------------------------------------------------------------
html {
	min-height: 100%;
}
body {
	position: relative;
	padding: 6.4rem 1.6rem;
	text-align: center;
}
/*
// --- Lock Scrolling On Load --- \\
html {
	min-height: 100%;
	overflow-y: scroll;
}
html[data-ready="waiting"] body {
	overflow-y: hidden;
}
html[data-ready="loaded"] body {
	overflow-y: visible;
}
*/

// Transitions & Animations
// ----------------------------------------------------------------------------
a,
label,
input,
button,
div[class^="wrap_checkbox"] label::before {
	transition: all 0.3s ease-in-out;
}
svg {
	transition: fill 0.3s ease-in-out;
}
// --- Animations --- \\
@keyframes animSVG {
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes anim360 {
	to {
		transform: rotate(360deg);
	}
}
@keyframes animFadeIn {
	to {
		opacity: 1;
	}
}
@keyframes animShow {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes animHide {
	0%   { opacity: 1; left: 0; }
	99%  { opacity: 0; left: 0; }
	100% { opacity: 0; left: -200%; }
}
@keyframes animShake {
	0%, 100% {
		transform: translate3d(0,0,0);
	}
	10%, 30%, 50%, 70%, 90% {
		transform: translate3d(-1rem,0,0);
	}
	20%, 40%, 60%, 80% {
		transform: translate3d(1rem,0,0);
	}
}
.animate_shake {
	animation: animShake 0.7s ease-in-out both;
}
// --- FOUT --- \\
html:not(.ie9) main {
	opacity: 0; // begin by setting opacity to 0 (if not IE9)
	animation: animShow 0.6s ease-in-out 0.2s forwards;
}
.wf-active main {
	animation: animShow 0.4s ease-in-out forwards;
}

/*
// CSS Loader
// ----------------------------------------------------------------------------
div.loader_overlay {
	position: fixed;
	z-index: 910;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	// visibility: hidden; // webkit will stop the animation if visibility is changed
	overflow: hidden;
	pointer-events: none;
}
div.loader_overlay.visible {
	opacity: 1;
}
div.loader_overlay div.wrap_svg {
	position: absolute;
	z-index: 911;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 4.4rem;
	height: 4.4rem;
	animation: anim360 1s linear infinite forwards;
}
div.loader_overlay div.wrap_svg svg {
	fill: $hsl_orange;
}
*/

// General Styles
// ----------------------------------------------------------------------------
.wrap_element {
	position: relative;
}
// + SVGs + \\
#svgInject {
	display: none;
	visibility: hidden;
}
.wrap_svg {
	display: block;
}
.wrap_svg svg {
	width: 100%;
	height: 100%;
}
svg.svg_inline {
	display: inline; // chrome does not respect the [viewBox] selector
}
// --- Containers --- \\
[data-container] {
	margin-left: auto;
	margin-right: auto;
}
[data-container="width_480"] {
	max-width: 48rem;
}
[data-container="width_340"] {
	max-width: 34rem;
}

// Overlays
// ----------------------------------------------------------------------------
// created and added (also destroyed) to DOM via JS
// opacity applied via JS | transition via CSS
[data-overlay] {
	position: fixed;
	z-index: 900;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: hsla(0,0%,0%,0.8);
	visibility: hidden; // requires visibility in order to hide animation on initial page load... set to 'visible' via JS class 'ready'
}
html.ready [data-overlay] {
	visibility: visible;
}
[data-overlay="active"] {
	left: 0;
	animation: animShow 0.4s ease-in-out;
}
[data-overlay="inactive"] {
	left: -200%;
	animation: animHide 0.4s ease-in-out forwards;
}
.overlay_modal {
	position: absolute;
	z-index: 901;
	top: 0;
	right: 1.6rem;
	bottom: 0;
	left: 1.6rem;
	margin: auto;
	max-width: 32rem;
	padding: 0 2rem;
	height: 28rem;
	background-color: $hsl_L100;
	border-radius: 1rem;
}
// + internet explorer + \\
html.ie9 [data-overlay="active"] {
	display: block;
}
html.ie9 [data-overlay="inactive"] {
	display: none;
}
// --- Mailchimp Response --- \\
.wrap_response {
	position: relative;
	z-index: 902;
	top: 50%;
	transform: translateY(-50%);
}
.wrap_response h4 {
	margin-bottom: 3.2rem;
	font-size: 1.8rem;
	line-height: 1.4;
	color: $hsl_blue;
}
.wrap_response a {
	display: inline-block;
	padding: 1rem 3.2rem;
	font-size: 1.4rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	color: $hsl_L100;
	background-color: $hsl_blue;
	border-radius: 0.6rem;
}
.wrap_response a:hover {
	background-color: lighten($hsl_blue, 14%);
}
.wrap_response a:active {
	background-color: $hsl_blue;
}

// Forms
// ----------------------------------------------------------------------------
input[type="text"],
input[type="email"] {
	padding-left: 1.6rem;
	padding-right: 1.6rem;
	width: 100%;
	font-size: 1.6rem;
	color: $hsl_blue;
	background-color: $hsl_L96;
	-webkit-appearance: none; // prevent iOS inset shadow
	   -moz-appearance: none; // prevent iOS inset shadow
			appearance: none; // prevent iOS inset shadow
	box-shadow: none; // prevent iOS inset shadow
}
input[type="text"],
input[type="email"] {
	height: 5.2rem;
}
// --- Checkbox --- \\
div[class^="wrap_checkbox"] {
	display: inline-block;
}
div[class^="wrap_checkbox"] label {
	cursor: pointer;
	display: block;
	position: relative;
	padding-left: 3.6rem;
	text-align: left;
}
div[class^="wrap_checkbox"] label::before {
	content: " ";
	display: block;
	position: absolute;
	top: -0.5rem;
	left: 0;
	width: 2.6rem;
	height: 2.6rem;
	background-color: $hsl_L96;
	border: 0.2rem solid $hsl_L80;
	border-radius: 0.5rem;
}
div[class^="wrap_checkbox"] label span {
	display: block;
	font-size: 1.4rem;
	line-height: 1.4;
	color: $hsl_blue;
}
div[class^="wrap_checkbox"] label svg {
	position: absolute;
	top: 0.1rem;
	left: 0.5rem;
	width: 1.5rem;
	height: 1.5rem;
	fill: $hsl_L96;
}
// + interaction + \\
div[class^="wrap_checkbox"]:hover label::before,
div[class^="wrap_checkbox"] input[type="checkbox"]:focus + label::before {
	border-color: $hsl_blue;
}
div[class^="wrap_checkbox"]:active label {
	opacity: 0.8;
}
input[type="checkbox"]:checked + label::before {
	border-color: $hsl_blue !important;
}
input[type="checkbox"]:checked + label svg {
	fill: $hsl_blue;
}
// --- Submit --- \\
input[type="submit"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 1.4rem 1rem;
	width: 20rem;
	font-size: 1.6rem;
	color: $hsl_L100;
	background-color: $hsl_blue;
	border-radius: 0.4rem;
}
input[type="submit"]:hover,
input[type="submit"]:focus {
	background-color: lighten($hsl_blue, 14%);
}
input[type="submit"]:active {
	background-color: $hsl_blue;
}

// Main
// ----------------------------------------------------------------------------
article > div.wrap_svg {
	margin: 0 auto 6.4rem auto;
	width: 24rem;
}
svg.stc_logo {
	fill: $hsl_blue;
}

// Form
// ----------------------------------------------------------------------------
h2 {
	margin-bottom: 6.4rem;
	font-size: 1.8rem;
	line-height: 1.4;
	text-align: center;
	color: $hsl_blue;
}
// --- Wrap Inputs --- \\
div.wrap_inputs {
	margin-bottom: 6.4rem;
}
div.wrap_inputs input[type="text"] {
	border-left: 0.2rem solid $hsl_L80;
	border-right: 0.2rem solid $hsl_L80;
	border-top: 0.2rem solid $hsl_L80;
	border-radius: 0.4rem 0.4rem 0 0;
}
div.wrap_inputs input[type="email"] {
	border: 0.2rem solid $hsl_L80;
	border-radius: 0 0 0.4rem 0.4rem;
}
div.error input[type="text"],
div.error input[type="email"] {
	border-color: $hsl_red;
}
div.wrap_inputs input[type="text"]:focus,
div.wrap_inputs input[type="email"]:focus {
	border-color: $hsl_blue;
}
div.wrap_inputs input[type="text"]:focus + input[type="email"] {
	border-top-color: $hsl_blue;
}
// --- Wrap Boxes --- \\
div.wrap_boxes {
	margin-bottom: 6.4rem;
	text-align: center;
}
div.wrap_boxes p {
	margin-bottom: 2.6rem;
	font-size: 1.6rem;
	color: $hsl_blue;
}
div.wrap_checkbox-1 {
	margin-right: 3.2rem;
}

// Error 404
// ----------------------------------------------------------------------------
body.error_404 {
	padding-top: 14rem;
}
h1 {
	margin-bottom: 2rem;
	font-size: 6rem;
	color: $hsl_blue;
}