// SASS Variables
// ----------------------------------------------------------------------------
$hsl_red:  hsl(0,84%,74%);
$hsl_blue: hsl(224,53%,24%);

$hsl_L0:   hsl(0,0%,0%);
$hsl_L60:  hsl(0,0%,60%);
$hsl_L80:  hsl(0,0%,80%);
$hsl_L96:  hsl(0,0%,96%);
$hsl_L100: hsl(0,0%,100%);


// One stylesheet to rule them all
// ----------------------------------------------------------------------------
@import 'base';
@import 'main';
@import 'queries';